body{
  font-family: Helvetica;
  font-size: 200%;
  text-align: center;
  user-select: none;
  background-image: linear-gradient(#ccbf00, #f5911f, #228b22, #3f000f, #26a5cb,#cc0033);
  margin: 0;
}
.subheading{
  text-align: left;
}

.box{
    height: 150px;
    width: 200px;
    display: inline-block;
    border: 2px dotted blue;
    border-radius: 5%;
    padding: 20px;
    margin: 10px;
    box-shadow: 5px, 10px ;
}

.ctrl{
  position: fixed;
  height: 100%;
  width: 40%;
  background-color: white;
}